<h4 class="text-primary">Danh sách danh mục</h4>

<table class="table table-borderless table-hover">
  <caption>
    Adminstrator
  </caption>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Danh mục</th>
      <th scope="col">Ảnh</th>
      <th scope="col">
        <a class="btn btn-warning" href="">Thêm mới</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>
        <a class="btn btn-info" href="">Sửa </a>
        <a class="btn btn-danger" href="">Xóa </a>
      </td>
    </tr>
  </tbody>
</table>
