<div class="container">
  <header class="text-center"><b>DRINKING</b></header>
  <nav class="nav nav-active">
    <li class="nav-link">
      <a routerLink="/home" routerLinkActive="active" class="nav-item" href=""
        >Trang chủ</a
      >&nbsp;
    </li>
    <li class="nav-link">
      <a
        routerLink="/categories"
        routerLinkActive="active"
        class="nav-item"
        href=""
        >Danh mục</a
      >&nbsp;
    </li>
    <li class="nav-link">
      <a routerLink="/drink" routerLinkActive="active" class="nav-item" href=""
        >Sản phẩm</a
      >&nbsp;
    </li>
  </nav>

  <!-- <app-drink></app-drink> -->
  <router-outlet> </router-outlet>
  <!-- <app-hero-list></app-hero-list> -->

  <footer class="text-center">
    <h5>thanhlt - promotion</h5>
  </footer>
</div>
